::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b4c7d0;
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background: rgba(79, 111, 127, .05)
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b7f92
}

.router-link-exact-active {
  font-weight: bold !important;
  /* color: #009688; */
}

.sidenav nav > ul {
  margin: 0;
}

.sidenav .nav-header {
  font-weight: bold !important;
}

.sidenav .nav-link i.side-tree-toggle.fa {
  margin-right: 4px;
}

/* .sidenav .nav-header,
.sidenav .nav-link {
  padding: 4px 10px 4px 12px;
} */

/* .sidenav .-collapsible > .nav-header:hover {
  background-color: rgba(0, 0, 0, .05);
}

.sidenav .-collapsible > .nav-header {
  cursor: pointer;
} */

/* ------------------ */
ul.tree {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

ul.tree li {
  list-style-type: none;
  border-left: 1px dotted #000;
  margin-left: 1em;
}

ul.tree .tree-item.tree-header {
  align-items: baseline;
  display: flex;
}

ul.tree li a,
ul.tree li .tree-item {
  display: flex;
  padding: .2em .6em .2em 1em;
  position: relative;
}

ul.tree li a::before,
ul.tree li .tree-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  bottom: 50%;
  width: 0.75em;
  border: 1px dotted #000;
  border-top: 0 none transparent;
  border-right: 0 none transparent;
}

ul.tree > li:last-child,
ul.tree ul > li:last-child {
  border-left: 1px dotted transparent;
}

ul.tree li {
  border-left: 1px dotted #000;
}

ul.tree li a:before {
  border: 0;
  border-bottom: 1px dotted #000;
}

ul.tree li:last-child > a:before {
  border-left: 1px dotted #000;
}

.tree.is-root > li {
  border: 0 !important;
}

.tree.is-root > li > a:before {
  border: 0 !important;
}

.cinzento {
  /* background: #fff url(https://projects.flabser.com/SharedResources/themes/cinzento/img/body-bg.jpg) fixed; */
}
